<div class="password-page__main__inner" data-section-id="{{ section.id }}" data-section-type="password-content">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% unless section.settings.title == blank %}
    <h2 class="password-page__hero">{{ section.settings.title | escape }}</h2>
  {% endunless %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr password-page__hr">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <p class="password-page__signup-form__heading h5">{{ section.settings.newsletter_form_heading | escape }}</p>
          {% unless section.settings.newsletter_form_subheading == blank %}
            <div class="rte">{{ section.settings.newsletter_form_subheading }}</div>
          {% endunless %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="{{ section.settings.newsletter_button_text | escape }}">
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="password-page__signup-form__heading h5">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}

</div>



{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "ms": "Kandungan",
    "nb": "Innhold",
    "nl": "Inhoud",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "class": "password-page__main",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "ms": "Tajuk",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Åbner snart",
        "de": "Eröffnet demnächst",
        "en": "Opening Soon",
        "es": "Apertura Próximamente",
        "fi": "Avataan pian",
        "fr": "Ouverture prochaine",
        "hi": "जल्द ही खुल रहा है",
        "it": "Prossima apertura",
        "ja": "まもなくオープンします",
        "ko": "곧 개장",
        "ms": "Akan Dibuka Tidak Lama Lagi",
        "nb": "Åpner snart",
        "nl": "Binnenkort geopend",
        "pt-BR": "Abertura em breve",
        "pt-PT": "Abre Brevemente",
        "sv": "Öppnar snart",
        "th": "จะเปิดเร็วๆ นี้",
        "zh-CN": "即将开业",
        "zh-TW": "即將開張"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "hi": "न्यूज़लेटर",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "ms": "Surat berita",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Suscríbete al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप दिखाएं",
        "it": "Mostra iscrizione alla Newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "ms": "Tunjukkan pendaftaran surat berita",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का शीर्षक",
        "it": "Titolo del modulo della Newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "ms": "Tajuk borang surat berita",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Erfahren Sie zuerst, wann unser Shop gelauncht wird.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Kuule uusista julkistuksista ensimmäisten joukossa.",
        "fr": "Apprenez notre lancement avant tout le monde.",
        "hi": "हम कब लॉन्च करते हैं, यह पता करने वाले सबसे पहले व्यक्ति बनें.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "ms": "Jadi yang pertama untuk mengetahui apabila kami dilancarkan.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      },
      "info": {
        "da": "[Fortæl dine kunder om en rabat på lanceringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fi": "[Kerro kävijöille aloituspäivän alennuksesta](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "hi": "[अपने दर्शकों को लॉन्च के दिन की छूट के बारे में बताएं](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "ko": "[출시 할인에 대해 방문자에게 알리십시오](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and -customer-loyalty).",
        "ms": "[Beritahu kepada pelawat anda tentang diskaun hari pelancaran](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and -kesetiaan pelanggan).",
        "nb": "[Fortell de besøkende om en lanseringsrabatt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nl": "[Vertel je bezoekers over kortingen op openingsdag](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto).",
        "pt-PT": "[Informe os seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "sv": "[Berätta för dina besökare om rabatter på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "th": "[บอกผู้เยี่ยมชมของคุณเกี่ยวกับส่วนลดวันเปิดตัว](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "zh-CN": "[告诉访客您的推出日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[通知訪客上市日折扣活動](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "da": "Underoverskrift til nyhedsbrevsformular",
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario de boletín",
        "fi": "Uutiskirjelomakkeen alaotsikko",
        "fr": "Sous-titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का उपशीर्षक",
        "it": "Sottotitolo del modulo della Newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "ko": "뉴스레터 양식 소제목",
        "ms": "Sub tajuk borang surat berita",
        "nb": "Underoverskrift for nyhetsbrevskjema",
        "nl": "Subkop van nieuwsbriefformulier",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "pt-PT": "Subtítulo do formulário da newsletter",
        "sv": "Nyhetsbrevsformulär underrubrik",
        "th": "หัวเรื่องย่อยแบบฟอร์มจดหมายข่าว",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "da": "<p>En kort sætning, der beskriver, hvad folk får ud af at tilmelde sig</p>",
        "de": "<p>Ein kurzer Satz, der beschreibt, was jemand abonniert</p>",
        "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
        "es": "<p>Una frase corta que describe lo que alguien recibirá al suscribirse</p>",
        "fi": "<p>Lyhyt lause, jossa kuvataan, mitä käyttäjä saa tilaamalla</p>",
        "fr": "<p>Une courte phrase décrivant ce que quelqu'un recevra en s'abonnant</p>",
        "hi": "<p>किसी को सदस्यता लेने से क्या प्राप्त होगा, यह बताने वाला एक छोटा वाक्य</p>",
        "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
        "ja": "<p>メルマガ購読者に向けたメッセージを入れましょう</p>",
        "ko": "<p>구독을 통해 받을 것을 설명해주는 짧은 문장</p>",
        "ms": "<p>Satu perkataan pendek yang menerangkan apa yang seseorang akan terima dengan melanggan</p>",
        "nb": "<p>En kort setning som beskriver hva man får ved å abonnere</p>",
        "nl": "<p>Een korte beschrijving van wat iemand ontvangt door zich te abonneren</p>",
        "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá ao assinar</p>",
        "pt-PT": "<p>Uma frase curta que descreve o que será recebido ao subscrever</p>",
        "sv": "<p>En kort mening som beskriver vad som erhålls med prenumeration</p>",
        "th": "<p>ประโยคสั้นๆ ที่อธิบายถึงสิ่งที่บางคนจะได้รับจากการสมัครรับข้อมูล</p>",
        "zh-CN": "<p>一个简短的句子，用于描述订阅者将收到的内容</p>",
        "zh-TW": "<p>簡短說明訂閱者可收到之內容</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "da": "Pladsholdertekst til nyhedsbrev",
        "de": "Platzhaltertext für Newsletter",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fi": "Uutiskirjeen paikkamerkkiteksti",
        "fr": "Texte du paramètre fictif de la newsletter",
        "hi": "न्यूज़लेटर प्लेसहोल्डर टेक्स्ट",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "ニュースレターのプレースホルダテキスト",
        "ko": "뉴스레터 플레이스 홀더 텍스트",
        "ms": "Teks ruang letak surat berita",
        "nb": "Plassholdertekst for nyhetsbrev",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pt-BR": "Texto do marcador de posição da newsletter",
        "pt-PT": "Texto do marcador de posição da newsletter",
        "sv": "Nyhetsbrevets platshållartext",
        "th": "ข้อความตัวยึดจดหมายข่าว",
        "zh-CN": "新闻稿占位符文本",
        "zh-TW": "電子報預留位置文字"
      },
      "default": {
        "da": "E-mailadresse",
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fi": "Sähköpostiosoite",
        "fr": "Adresse e-mail",
        "hi": "ईमेल पता",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일 주소",
        "ms": "Alamat e-mel",
        "nb": "E-postadresse",
        "nl": "E-mailadres",
        "pt-BR": "E-mail",
        "pt-PT": "Endereço de e-mail",
        "sv": "E-postadress",
        "th": "อีเมล",
        "zh-CN": "电子邮件地址",
        "zh-TW": "電子郵件地址"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "da": "Knaptekst til nyhedsbrev",
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fi": "Uutiskirjeen painiketeksti",
        "fr": "Texte du bouton de la newsletter",
        "hi": "न्यूज़लेटर बटन टेक्स्ट",
        "it": "Testo del pulsante Newsletter",
        "ja": "ニュースレターボタンのテキスト",
        "ko": "뉴스레터 버튼 텍스트",
        "ms": "Teks butang surat berita",
        "nb": "Knappetekst for nyhetsbrev",
        "nl": "Tekst knop nieuwsbrief",
        "pt-BR": "Texto do botão da newsletter",
        "pt-PT": "Texto do botão da newsletter",
        "sv": "Nyhetsbrevsknapptext",
        "th": "ข้อความปุ่มจดหมายข่าว",
        "zh-CN": "新闻稿按钮文本",
        "zh-TW": "電子報按鈕文字"
      },
      "default": {
        "da": "Indsend",
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fi": "Lähetä",
        "fr": "Envoyer",
        "hi": "सबमिट करें",
        "it": "Invia",
        "ja": "送信する",
        "ko": "제출",
        "ms": "Kemukakan",
        "nb": "Send",
        "nl": "Verzenden",
        "pt-BR": "Enviar",
        "pt-PT": "Enviar",
        "sv": "Skicka",
        "th": "ส่ง",
        "zh-CN": "提交",
        "zh-TW": "提交"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Deling på sociale medier",
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fi": "Sosiaalisen median jakaminen",
        "fr": "Partage social",
        "hi": "सोशल शेयरिंग आइकन",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "ko": "소셜 공유",
        "ms": "Perkongsian sosial",
        "nb": "Sosial deling",
        "nl": "Delen via social media",
        "pt-BR": "Compartilhamento social",
        "pt-PT": "Partilha nas redes sociais",
        "sv": "Social delning",
        "th": "การแชร์ลงโซเชียล",
        "zh-CN": "社交分享",
        "zh-TW": "社群分享"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Overskrift på knapper til deling på sociale medier",
        "de": "Social-Sharing-Schaltflächen anzeigen",
        "en": "Social sharing buttons heading",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Sosiaalisen median jakamispainikkeiden otsikko",
        "fr": "Afficher les boutons de partage social",
        "hi": "सोशल शेयरिंग बटन शीर्षक",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "ko": "소셜 공유 버튼 제목",
        "ms": "Tajuk butang perkongsian sosial",
        "nb": "Overskrift til knapper for sosial deling",
        "nl": "Kop van knoppen voor delen via social media",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Título dos botões de partilha nas redes sociais",
        "sv": "Knapprubrik för social delning",
        "th": "ส่วนหัวปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "社交分享按钮标题",
        "zh-TW": "社交分享按鈕標題"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "da": "Overskrift på knapper til deling på sociale medier",
        "de": "Überschrift für Social-Sharing-Schaltflächen",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fi": "Sosiaalisen median jakamispainikkeiden otsikko",
        "fr": "Titre des boutons de partage social",
        "hi": "सोशल शेयरिंग बटन शीर्षक",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "ko": "소셜 공유 버튼 제목",
        "ms": "Tajuk butang perkongsian sosial",
        "nb": "Overskrift til knapper for sosial deling",
        "nl": "Kop van knoppen voor delen via social media",
        "pt-BR": "Título dos botões de compartilhamento social",
        "pt-PT": "Título dos botões de partilha nas redes sociais",
        "sv": "Knapprubrik för social delning",
        "th": "ส่วนหัวปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "社交分享按钮标题",
        "zh-TW": "社交分享按鈕標題"
      },
      "default": {
        "da": "Spred budskabet",
        "de": "Weitersagen",
        "en": "Spread the word",
        "es": "Riega la voz",
        "fi": "Levitä sanaa",
        "fr": "Faites passer le mot",
        "hi": "जानकारी अधिक लोगों तक पहुंचाएं",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "ko": "소문 내기:",
        "ms": "Sebarkan",
        "nb": "Spre ordet",
        "nl": "Vertel het verder",
        "pt-BR": "Divulgue a novidade",
        "pt-PT": "Passar a palavra",
        "sv": "Sprid meddelandet",
        "th": "ประกาศ",
        "zh-CN": "传播消息",
        "zh-TW": "四處宣傳"
      }
    }
  ]
}
{% endschema %}
